IRIS_SYSTEMS_REC_TASK_DATABASE_USERNAME=your_database_username
IRIS_SYSTEMS_REC_TASK_DATABASE_PASSWORD=your_database_password  
IRIS_SYSTEMS_REC_TASK_DATABASE_HOST=your_database_host
IRIS_ROOT_PASSWORD=your_root_password
GRFANA_ADMIN_PASSWORD=your_grafana_admin_password