IRIS_SYSTEMS_REC_TASK_DATABASE_USERNAME=your_database_username
IRIS_SYSTEMS_REC_TASK_DATABASE_PASSWORD=your_database_password 
IRIS_SYSTEMS_REC_TASK_DATABASE_NAME=iris_systems_rec_task_development 
IRIS_SYSTEMS_REC_TASK_DATABASE_HOST=msql
IRIS_ROOT_PASSWORD=your_root_password
SECRET_KEY_BASE=your_secret_key_base